<div id="header">
</div>
<div id="second-header">
	<ul class="second-header-items">
		<li class="banner">Banner</li>
		<li class="link-item">Questions</li>
		<li class="link-item">Tags</li>
		<li class="link-item">Unanswered</li>
		<li class="link-item">Ask Question</li>
	</ul>
</div>

<div id="main">
</div>

<script>
	$(document).ready(function() {
		HeapOverflow.initialize()
	})
</script>