<div id="header">
	<div class="header-search"><input type="text" placeholder="search"></div>
</div>
<div id="second-header">
	<ul class="second-header-items">
		<li class="banner">Logo</li>
		<li class="link-item">Ask Question</li>
		<li class="link-item">Unanswered</li>
		<li class="link-item">Tags</li>
		<li class="link-item">Questions</li>
	</ul>
</div>

<div id="main">
</div>

<script>
	$(document).ready(function() {
		HeapOverflow.initialize()
	})

	$(function() {
		$(".link-item").click(function() {
			$(".link-item").removeClass("selected")
			$(this).addClass("selected")
		})
	})
</script>