<div class="answer-vote">
	Vote: <%= answer.get('vote_count') %>
</div>
<li class="answer-show-container">
	<%= answer.escape('content') %>
	<button class="destroy-answer">Destroy</button>
	<ul class="answer-comments"></ul>
	<div class="comment-form"></div>
</li>