<form>
	<label for="comment_body">Comment</label>
	<input type="hidden" name="comment[answer_id]" value="<%= answer.escape('id') %>">
	<input type="text" name="comment[body]" id="comment_body"><br>
	<input type="submit" class="comment-form">
</form>