<form>
	<label for="question_title">Title</label>
	<input type="text" name="question[title]" id="question_title"><br>
	<label for="question_content">Content</label>
	<input type="text" name="question[content]" id="question_content"><br>
	<label for="question_tag_list">Tags:</label>
	<input type="text" name="question[tag_list]" id="question_tag_list">
	<input type="submit">
</form>
<a href="#">Back to questions</a>