<li class="question-item-container">
	<ul class="question-stats">
		<li class="votes-container"><div class="vote-stat">0</div><span class="vote-stats-text">votes</span></li>
		<li class="answers-container"><div class="answer-stat">0</div><span class="answer-stats-text">answers</span></li>
		<li class="views-container"><div class="view-stat">0</div><span class="view-stats-text">views</span></li>
	</ul>
	<div class="question-title">
		<%= question.escape('title') %>
	</div>
	<ul class="author-info">
		<li class="author-username">Username</li>
		<li class="time-posted">1 minute ago</li>
	</ul>
</li>