<div class="questions-index">
	<div class="questions-container">
		<div class="all-questions">All Questions</div>
		<ul class="questions"></ul>
	</div>
	<div class="tags-container">
		<div class="questions-stats-header">15,722<span class="questions-stats-header-text">questions</span></div>
		<div class="hot-questions">
			<span class="header">Hot Questions!</span>
			<li class="hot-question-item"></div>
		</div>
	</div>
</div>
