<li class="question-item-container">
	<ul class="question-stats">
		<li class="votes">Votes</li>
		<li class="answers">Answers</li>
		<li class="views">Views</li>
	</ul>
	<div class="question-title">
		<%= question.escape('title') %>
		<a href="#/questions/<%= question.escape('id') %>">Link</a>

	</div>
	<ul class="author-info">
		<li class="author-username">Username</li>
		<li class="time-posted">1 minute ago</li>
	</ul>
</li>