/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'reset.css';

#header {
	height: 40px;
	background: black;
	width: 100%;
	margin: 0px auto;
	/*position: fixed;*/
}

div.all-questions {
	font-size: 18px;
	font-weight: 500;
	color: #222;
	font-family: 'Helvetica Nueu', Helvetica, Arial, sans-serif;
	margin-left: 20px;
}

/* tabs */

.selected {
	background-color: #fe7a15;
	color: white;
}

li.link-item {
	padding: 4px 10px 5px;
	font-family: 'Helvetica Nueu', Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.3em;
	background-color: #9ea3a9;
	margin-right: 8px;
	color: white;
	cursor: pointer;
}

li.link-item:hover {
	background-color: #fe7a15;
	color: white;
}

li.selected {
	background-color: #fe7a15;
	color: white;
}

ul.second-header-items {
	margin-right: 160px;

}

/* Second header */
#second-header {
	height: 100px;
}

#second-header > ul {
	height: 100%;
	/*background-color: blue;*/
}

#second-header > ul > li {
	display: inline;
}

#second-header > ul > li.link-item {
	float: right;
}

#container {
	height: auto;
}

h1 {
	font-size: 50px;
}

div.questions-index {
	width: 100%;
	overflow: auto;
}

div.questions-container {
	width: 55%;
	margin-left: 180px;
	float: left;
}

div.tags-container {
	background-color: #fff8dc;
	float: right;
	margin-right: 20px;
	width: 25%;
	height: 400px;
}

li.question-item-container {
	width: 100%;
	height: 170px;
	border-bottom: 1px solid #e0e0e0;
}

ul.question-stats {
	float: left;
	margin-right: 20px;
	margin-left: 20px;
	margin-top: 10px;
}

ul.question-stats > li {
	margin-bottom: 15px;
}

span.vote-stats-text, span.answer-stats-text, span.view-stats-text {
	display: block;
	text-align: center;
}

div.vote-stat, div.answer-stat, div.view-stat {
	text-align: center;
}

div.vote-stat {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	line-height: 1.3em;
	color: #777;
	font-size: 22px;
}

span.vote-stats-text {
	font-size: 11px;
	color: #777;
	line-height: 1.3em;
	font-family: 'Helvetica Nueu', Helvetica, Arial, sans-serif;
	margin-top: -3px;
}


li.answers-container {
	background-color: #75845c;
	padding: 5px;
}

div.answer-stat {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	line-height: 1.3em;
	font-size: 20px;
	color: #e1e818;
}

span.answer-stats-text {
	font-size: 11px;
	font-family: 'Helvetica Nueu', Helvetica, Arial, sans-serif;
	line-height: 1.3em;
	color: #e1e818;
	margin-top: -3px;
}

div.view-stat {
	font-family: 'Helvetica Nueu', Helvetica, Arial, sans-serif;
	color: #fe7a15;
	font-size: 12px;
	margin-bottom: 2px;
}

span.view-stats-text {
	font-family: 'Helvetica Nueu', Helvetica, Arial, sans-serif;
	color: #fe7a15;
	font-size: 13px;
}

/* Question title */

div.question-title {
	padding-top: 15px;
	color: #0c65a5;
	line-height: 1.3em;
	cursor: pointer;
	font-family: 'Helvetica Nueu', Helvetica, Arial, sans-serif;
	font-size: 18px;
}