/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'reset.css';
@import 'headers.css';
@import 'questions.css';


a {
	text-decoration: none !important;
}

li.banner > img {
	height: 90px;
	width: 100px;
	margin-top: -20px;
	margin-left: 165px;
	padding-bottom: 0;
	display: inline;
}

ul.sort-questions {
	/*float: right;*/
}

li.banner {
	display: inline;
}

#container {
	height: auto;
}

h1 {
	font-size: 50px;
}

div.header-search {
	float: right;
	margin-top: 10px;
	margin-right: 170px;
}

div.voting {
	float: left;
}

div.answer-vote {
	float: left;
}

li.answer-show-container {
	margin-left: 100px;
}

div.question-show-content {
	margin-left: 100px;
}

div.header-search > input {
	width: 220px;
}


div.tags-container {
	/*background-color: #fff8dc;*/
	float: right;
	margin-right: 20px;
	width: 25%;
	height: 400px;
}

div.questions-stats-header {
	font-size: 26px;
	margin-top: 0px;
	margin-bottom: 12px;
}

span.questions-stats-header-text {
	font-family: 'Helvetica Nueu', Helvetica, Arial, sans-serif;
	font-size: 13px;
	line-height: 1.3em;
	color: #222;
	display: block;
}

div.hot-questions {
	background-color: #fff8dc;
	height: 300px;
	width: 65%;
	
}



div.vote-stat, div.answer-stat, div.view-stat {
	text-align: center;
}

div.vote-stat {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	line-height: 1.3em;
	color: #777;
	font-size: 22px;
}

span.vote-stats-text {
	font-size: 11px;
	color: #777;
	line-height: 1.3em;
	font-family: 'Helvetica Nueu', Helvetica, Arial, sans-serif;
	margin-top: -3px;
}


li.answers-container {
	background-color: #75845c;
	padding: 5px;
}

div.answer-stat {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	line-height: 1.3em;
	font-size: 20px;
	color: #e1e818;
}

span.answer-stats-text {
	font-size: 11px;
	font-family: 'Helvetica Nueu', Helvetica, Arial, sans-serif;
	line-height: 1.3em;
	color: #e1e818;
	margin-top: -3px;
}

div.view-stat {
	font-family: 'Helvetica Nueu', Helvetica, Arial, sans-serif;
	color: #fe7a15;
	font-size: 12px;
	margin-bottom: 2px;
}

span.view-stats-text {
	font-family: 'Helvetica Nueu', Helvetica, Arial, sans-serif;
	color: #fe7a15;
	font-size: 13px;
}

div.tag-description {
	
}

li.time-posted {
	color: #999;
	font-size: 13px;
	font-family: 'Helvetica Nueu', Helvetica, Arial, sans-serif;
}

li.author-username {
	font-size: 12px;
	color: #07c;
	cursor: pointer;
	font-family: 'Helvetica Nueu', Helvetica, sans-serif;
}