/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'reset.css';

#header {
	height: 40px;
	background: black;
	width: 100%;
	margin: 0px auto;
	/*position: fixed;*/
}

#second-header {
	height: 100px;
}

#second-header > ul {
	height: 100%;
	/*background-color: blue;*/
}

#second-header > ul > li {
	display: inline;
}

#second-header > ul > li.link-item {
	float: right;
}

#container {
	height: auto;
}

h1 {
	font-size: 50px;
}

div.questions-index {
	width: 100%;
	overflow: auto;
}

div.questions-container {
	width: 55%;
	margin-left: 180px;
	background-color: blue;
	float: left;
}

div.tags-container {
	background-color: green;
	float: right;
	margin-right: 20px;
	width: 25%;
	height: 400px;
}

li.question-item-container {
	width: 100%;
	height: 170px;
	border: 1px solid black;
}